name: Day6 Docker CI

on:
  push:
    branches: [ "main" ]

jobs:
  docker:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Build image
        run: docker build -t day6-demo .

      - name: Login Docker Hub
        run: |
          echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin

      - name: Tag image
        run: docker tag day6-demo ${{ secrets.DOCKER_USERNAME }}/day6-demo:latest

      - name: Push image
        run: docker push ${{ secrets.DOCKER_USERNAME }}/day6-demo:latest
